{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{{ recipe.name }}</title>
</head>
<body>
    <div class="nav-bar-ajs">
        <a href="{% url 'recipes:home' %}">
            <div class="logo-div">
                <img class="logo" src="{% static 'images/chef-hat.svg' %}" alt="logo">
                <h1> ReciSpot</h1>
            </div>
        </a>

        <a class="logout-button" href="{%url 'logout' %}">
            <h3>Logout</h3>
        </a>
    </div>
    <h1>{{ recipe.name }}</h1>
    <img class="recipe-img" src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
    <p>
        <span>Time:</span> {{ recipe.cooking_time }} minutes<br>
        <span>Ingredients:</span> {{ recipe.ingredients }}<br>
        <span>Difficulty:</span> {{ recipe.difficulty }}<br>
        <br>
        {{ recipe.description }} <br>

    </p>

</body>